<router-outlet></router-outlet>
<div class="col-sm-12 form-content" style="text-align: right;font-family: monospace;word-break: normal">
    <br><br>
    <div style="text-align: center;">
        <h2 style="font-size: x-large;font-weight:bold; color: #FF6600;">מהו מחשב שיתופי?</h2>
        <p> מחשב שיתופי לוקח את כל הדברים הטובים שיש למחשב פרטי להציע,ומדלג על החסרונות.</p>
        <p> כך המשתמש חוסך לעצמו את כל הטרחה שבאחזקת מחשב ושלא לדבר על ההוצאות המרובות: </p>
        <p> , תיקונים וההוצאה הגדולה ביותר – קניית המחשב. </p>
        <p> מרגע ההצטרפות לחברה, מאות מחשבים שיתופיים ברחבי הארץ יעמדו לשרותך, זמינים לשימוש ומוטענים. </p>
        <p>
            easyRent לשרותכם בכל מצב בבית, בנסיעה ובעבודה </p>
    </div>
    <br><br>
    <p style="word-break: normal;width: 70%;text-align: center;margin-right: 17%;">
        היתרונות שבהשכרת מחשבים מeasyRent אמינות המחשבים הניידים שלנו הם מהחדשים והחזקים בשוק המחשבים, יש ביכולתם לענות על כל דרישה טכנית ולספק את צרכיו הטכנולוגים של האירוע שלכם מא’ ועד ת’. אנו מקפידים להעביר את המחשבים בדיקות תקינות שגרתיות ע”י טכנאים מוסמכים
        ולהתקין על גבם את מערכות ההפעלה והתכנות החדישות ביותר באופן חוקי וברשיון מלא. חדשנות הטכנולוגיות בעולם המחשבים משתדרגות לעיתים קרובות והופכות ציוד רב שנרכש לפני זמן קצר למיושן ואיטי. השכרת מחשבים במeasyRent מסירה את הסיכון שבהתחייבויות ארוכות
        טווח לטכנולוגיות מיושנות. יציבות השכרת מחשבים מeasyRent מעניקה לך את תשתית המחשוב האידיאלית לצורך שלך ללא כאב הראש הכרוך בה. אנו מציעים כחלק משירותינו זמינות מיידית של החומרה והתוכנה הנכונות עבורך , היכן ומתי שאתה צריך אותן. בין אם אתה זקוק לרשת
        שלמה או למחשב בודד, השכרת מחשבימeasyRent ם ב הופכת את זה לקל ופשוט. שירות מeasyRent מקפידה להעמיד לרשותך צוות שירות מקצועי ואדיב שיהא קשוב לצרכיך מרגע פנייתך ועד סיום הפרוייקט לשמו השכרת את שירותי החברה. אנו נתאים עבורך את הטכנולוגיה הנדרשת למטרתך
        , נתקין עבורך את התוכנות להן אתה זקוק, ונספק את הציוד תוך 24 עד פתח ביתך. גם את טכנולוגיה אינה הצד החזק שלך, אנו נהא הגב המקצועי לו אתה זקוק על מנת להעביר את האירוע לשמו השכרת את המחשבים על הצד הטוב ביותר. כלכלי רכישת מחשבים שיתאימו לצרכים המשתנים
        של חברתך היא עול כלכלי כבד. חסוך בהון חוזר יקר ערך ושפר את הנזילות של חברתך ע”י השקעה במשאבים חשובים יותר שיעודדו צמיחה ובטחון. התועלת הכלכלית שבהשכרת מחשבים ממeasyRent נעשית תחת תנאים נוחים והטבות ייחודיות , והיא תוצר הלוואי של כלל השירותים אותם
        אנו מעניקים אשר הופכים את השכרת המחשבים אצלנו גם למשתלמים כלכלית.
    </p>
    <div style="text-align: center;font-size: x-large;font-weight:bold;color: #FF6600;">
        <h2 style="font-size: x-large;font-weight:bold; color: #FF6600;">שאלות ותשובות נפוצות</h2>
        <p>
            יש לכם שאלה על השירות? קיבצנו לכם את כל המידע הנחוץ לכם כדי ליהנות משירות .
        </p>
    </div>
    <br><br>
    <div style="margin-right: 10%;">
        <p>
            1. לקחתי מחשב ואני רוצה להאריך את זמן ההשאלה, מה עלי לעשות?
        </p>
        <p>
            .להכנס לאיזור האישי וללחוץ על התאריך סיום ושם יוצג לוח שנה, ותהיה אופציה לשנות תאריך
        </p> <br><br>
        <p>
            2. אם המחשב שברשותי נפגם במהלך ההשאלה מהי מדיניות האתר?
        </p>
        <p>
            במהלך החזרת המחשב הפגם יבדק והקנס ישולם בהתאם לתעריף קבוע המופיע בעת הסכמה לתנאי השימוש.
        </p> <br><br>
        <p>
            3. מהי פרוצדורת ההרשמה למערכת?
        </p>
        <p>
            נכנסים לאתר easyRent ולוחצים על כפתור של לקוח חדש ואז ממלאים את הפרטים האישים לפי הסדר ומקבלים שם משתמש וססמה למייל לשימוש כלקוח קיים במערכת
        </p>
        <br><br>
        <p>
            4. אתה לקוח קבוע שלנו? נרשמת בעבר?
        </p>
        <p>
            התהליך הוא פשוט ונוח!! הכנס שם משמש וסיסמה והופ אתה בפנים... </p>
        <br><br>
        <p>
            5. אני רוצה מחשב עם תוכנות מסוימות מה עלי לעשות?
        </p>
        <p>
            כנס לדף הבית ושם תוכל ללחוץ על כפתור הסינונים ושם תוכל לבחור את התוכנות הרצויות ועוד פונקציות סינון חכמות במיוחד שיקלו עליך את השימוש במערכת.
        </p>
    </div>
    <br><br>
</div>