/* vvvvvvvvvvvvv */

body {
    background: #F17563;
    font-family: Open Sans;
    font-size: 50px;
    color: #222;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 320px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.player {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

.player div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
}

.player img {
    border-radius: 50%;
}

.player .back {
    background: #222;
    color: #FFF;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

input {
    display: none;
}

.player.voted {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.mat-h2,
.mat-title,
.mat-typography h2 {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 16px;
    color: #FF6600;
}