<router-outlet></router-outlet>
<div class="col-sm-12 form-content" style="text-align: right;font-family: monospace;">
    <br><br>
    <h2 style="font-size: x-large;font-weight:bold">מהו מחשב שיתופי?</h2>
    <p> מחשב שיתופי לוקח את כל הדברים הטובים שיש למחשב פרטי להציע,ומדלג על החסרונות.</p>
    <p> כך המשתמש חוסך לעצמו את כל הטרחה שבאחזקת מחשב ושלא לדבר על ההוצאות המרובות: </p>
    <p> , תיקונים וההוצאה הגדולה ביותר – קניית המחשב. </p>
    <p> מרגע ההצטרפות לחברה, מאות מחשבים שיתופיים ברחבי הארץ יעמדו לשרותך, זמינים לשימוש ומוטענים. </p>
    <p>
        easyRent לשרותכם בכל מצב בבית, בנסיעה ובעבודה </p>
    <br><br>
    <h2 style="font-size: x-large;font-weight:bold">שאלות ותשובות נפוצות</h2>
    <p style="font-size: x-large;font-weight:bold">
        יש לכם שאלה על השירות? קיבצנו לכם את כל המידע הנחוץ לכם כדי ליהנות משירות .
    </p>
    <br><br>
    <p>
        1. לקחתי מחשב ואני רוצה להאריך את זמן ההשאלה, מה עלי לעשות?
    </p>
    <p>
        .להכנס לאיזור האישי וללחוץ על התאריך סיום ושם יוצג לוח שנה, ותהיה אופציה לשנות תאריך
    </p> <br><br>
    <p>
        2. אם המחשב שברשותי נפגם במהלך ההשאלה מהי מדיניות האתר?
    </p>
    <p>
        במהלך החזרת המחשב הפגם יבדק והקנס ישולם בהתאם לתעריף קבוע המופיע בעת הסכמה לתנאי השימוש.
    </p> <br><br>
    <p>
        3. מהי פרוצדורת ההרשמה למערכת?
    </p>
    <p>
        נכנסים לאתר easyRent ולוחצים על כפתור של לקוח חדש ואז ממלאים את הפרטים האישים לפי הסדר ומקבלים שם משתמש וססמה למייל לשימוש כלקוח קיים במערכת
    </p>
    <br><br>
    <p>
        4. אתה לקוח קבוע שלנו? נרשמת בעבר?
    </p>
    <p>
        התהליך הוא פשוט ונוח!! הכנס שם משמש וסיסמה והופ אתה בפנים... </p>
    <br><br>
    <p>
        5. אני רוצה מחשב עם תוכנות מסוימות מה עלי לעשות?
    </p>
    <p>
        כנס לדף הבית ושם תוכל ללחוץ על כפתור הסינונים ושם תוכל לבחור את התוכנות הרצויות ועוד פונקציות סינון חכמות במיוחד שיקלו עליך את השימוש במערכת.
    </p>
    <br><br>
</div>