<div class="card m-3" style="direction: ltr;">
    <h3 class="card-header" style="background-color:#FF6600;color: aliceblue;font-family: cursive;font-size: x-large;">
        <button mat-button matSuffix mat-icon-button (click)="onCloase()" aria-label="Clear"><mat-icon>clear</mat-icon></button>
        <div style="text-align: right;" *ngIf="from==2"> הוספת חברה</div>
        <div style="text-align: right;" *ngIf="from==1"> עדכון חברה</div>

    </h3>

    <div class="card-body">
        <form class="col-sm-12 form-content" *ngIf="DataForm,products" [formGroup]="DataForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>שם חברה</label>
                    <input type="text" formControlName="CompanyName" class="form-control" [(ngModel)]="company.Name" [ngClass]="{ 'is-invalid': submitted && f.ProudactName.errors }" />
                    <div *ngIf="submitted && f.ProudactName.errors" class="invalid-feedback">
                        <div *ngIf="f.ProudactName.errors.required">CompanyName is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>תמונה</label>
                <input type="text" formControlName="Img" class="form-control" [(ngModel)]="company.img" [ngClass]="{ 'is-invalid': submitted && f.Img.errors }" />
                <div *ngIf="submitted && f.Img.errors" class="invalid-feedback">
                    <div *ngIf="f.Img.errors.required">Company Img is required</div>
                </div>
            </div>
            {{parentData}}
            <div class="text-center">
                <button class="btn btn-primary mr-1" style="background-color: #FF6600" (click)="onCloase()">אישור</button>
            </div>
        </form>
    </div>
</div>