<div style="font-family: cursive;">
    <mat-drawer-container class="example-container" autosize>
        <div class="example-sidenav-content" style="font-family: Calibri;color: grey;font-weight: bold;text-align: right;">
            <button type="button" mat-button (click)="drawer.toggle()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                  </svg>
          </button>
        </div>
        <mat-drawer #drawer class="example-sidenav" mode="side" style=" background-color: rgb(232, 232, 235);">
            <!-- style="font-family: monospace;font-weight: bold;" -->
            <!-- הצגת כל הסינונים -->
            <div style="font-family: Calibri;color: grey;font-weight: bold;text-align: right ; ">
                <div><br><br>
                    <form style="text-align: center;">
                        <div>סמן את סוג המחשב שברצונך לבחור: </div>
                        <mat-form-field>
                            <mat-label>סינון לפי תוכנה:</mat-label>
                            <mat-select [formControl]="toppings" multiple (selectionChange)="filterByProgramName($event.value)">
                                <mat-select-trigger>
                                    {{toppings.value ? toppings.value[0] : ''}}
                                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                      (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let topping of programList" [value]="topping.ProgramName" style="font-family: Calibri;color: grey;text-align: right">
                                    <img class="img-fluid" width="20px" height="20px" type="button" src={{topping.ImgProgram}} alt="Sample image" class="magazine-section my-2">‏ {{topping.ProgramName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p>התוכנה שנבחרה : {{toppings.value}} </p>
                        <br>
                        <mat-form-field>
                            <mat-label>סינון לפי זיכרון :</mat-label>
                            <mat-select [(ngModel)]="selectedMemory" name="price">
                                <mat-option *ngFor="let s of memmoryList" [value]="s" style="font-family: Calibri;color: grey;text-align: right">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p> הזיכרון שנבחר :{{selectedMemory}}</p>
                        <br>
                        <mat-form-field>
                            <mat-label>סינון לפי סוג :</mat-label>
                            <mat-select [(ngModel)]="selectedType" name="price">
                                <mat-option *ngFor="let s of typeList" [value]="s" style="font-family: Calibri;color: grey;text-align: right">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p> הסוג שנבחר :{{selectedType}}</p>
                        <br>
                        <mat-form-field>
                            <mat-label>סינון לפי מעבד :</mat-label>
                            <mat-select [(ngModel)]="selectedProcess" name="price">
                                <mat-option *ngFor="let s of processList" [value]="s" style="font-family: Calibri;color: grey;text-align: right">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p> המעבד שנבחר :{{selectedProcess}}</p>
                        <br>
                        <mat-form-field>
                            <mat-label>סינון לפי שם חברה :</mat-label>
                            <mat-select [(ngModel)]="selectedCompany" name="price">
                                <mat-option *ngFor="let s of companyList" [value]="s" style="font-family: Calibri;color: grey;text-align: right">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p> החברה שנבחרה :{{selectedCompany}}</p>
                        <br>
                        <mat-form-field>
                            <mat-label>סינון לפי דיסק קשיח :</mat-label>
                            <mat-select [(ngModel)]="selectedHardDisk" name="price">
                                <mat-option *ngFor="let s of hardDiskList" [value]="s" style="font-family: Calibri;color: grey;text-align: right">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p> הדיסק שנבחר :{{selectedHardDisk}}</p>
                        <br>
                        <mat-form-field>
                            <mat-label>סינון לפי גודל מסך :</mat-label>
                            <mat-select [(ngModel)]="selectedScreanSize" name="price">
                                <mat-option *ngFor="let s of screanSizeList" [value]="s" style="font-family: Calibri;color: grey;text-align: right">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p> הגודל מסך שנבחר :{{selectedScreanSize}}</p>
                        <br>
                    </form>
                </div>
            </div>
        </mat-drawer>
        <!-- הצגת שני הכפתורים של הטבלה ושל הכרטיסים -->
        <div style="text-align: center;">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="italic" (click)="shwoButton2 =true ;shwoButton1 =false " style="font-family: Calibri;color: grey;font-weight: bold;text-align:center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
              </svg></mat-button-toggle>
                <mat-button-toggle value="underline" (click)="shwoButton1=true;shwoButton2 =false" style="font-family: Calibri;color: grey;font-weight: bold;text-align:center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
              </svg></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- <button href="#addSoftwerModal" class="btn btn-success" data-toggle="modal" mat-raised-button routerLink="/viewBag"><i class="material-icons">&#xE147;</i> <span>view Shopping Bag</span></button> -->
        <br><br>
        <!-- הצגת הטבלה -->
        <div class="container" *ngIf="shwoButton2" style="text-align: center; ">
            <table class="table" dir="rtl">
                <thead>
                    <tr>
                        <th>קוד מחשב </th>
                        <th>חברה </th>
                        <th>סוג </th>
                        <th>מעבד </th>
                        <th>זיכרון </th>
                        <th>דיסק קשיח </th>
                        <th>גודל מסך </th>
                        <th>מחיר ליום </th>
                        <th>מחיר לשעה </th>
                        <th>תוכנות </th>
                        <th style="width: 20%;">תמונה </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr *ngFor="let s of computerWithProgramListFilter | try:selectedMemory:'selectedMemory'|try:selectedType:'selectedType' |
                        try:selectedProcess:'selectedProcess'| try:selectedCompany:'selectedCompany' | try:selectedHardDisk:'selectedHardDisk'
                        | try:selectedScreanSize:'selectedScreanSize'">
                            <td>{{s.Id}}</td>
                            <!-- <td>{{s.LepTopId}}</td>
                           <td>{{s.CompanyId}}</td> -->
                            <td>{{s.CompanyName}}</td>
                            <td>{{s.Type}}</td>
                            <td>{{s.Prossess}}</td>
                            <td>{{s.Memory}}</td>
                            <td>{{s.HardDisk}}</td>
                            <td>{{s.ScreenSize}}</td>
                            <td>{{s.PriceDay}}שח</td>
                            <td>{{s.PriceHour}}שח</td>
                            <td>
                                <!-- הצגה של התוכנות עם פסיקים -->
                                <label *ngFor="let p of s.Programslist ; let i = index">
                                   {{p.ProgramName}}
                                   <span *ngIf="i<s.Programslist.length-1">,</span>
                               </label>
                            </td>
                            <td><img src={{s.ComputerImg}} alt="Third slide"> </td>
                            <td>
                                <td style="font-family: Calibri;color: grey;font-weight: bold;text-align: right;">
                                    <mat-calendar [dateClass]="dateClass(s)" (selectedChange)="getDay($event)" (click)="create(s)"></mat-calendar>
                                </td>
                        </tr>


                </tbody>
            </table>
        </div>
        <!-- <mat-progress-spinner mode="indeterminate" ></mat-progress-spinner> -->

        <mat-spinner class="custom-spinner" mode="indeterminate" value="100" [hidden]="!getData"></mat-spinner>

        <!-- הצגה של הנתונים בכרטיסים -->
        <div class="row" type="margin" alt="thumbnail" *ngIf="shwoButton1" style="font-family: Calibri;color: grey;text-align: right;margin: 3%;">
            <mat-card class="example-card" *ngFor="let s of computerWithProgramD">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + s.computer.CompanyImg + ')'}"></div>
                    <mat-card-title style="font-family: Calibri;color: grey;font-weight: bold;text-align: right">{{s.computer.CompanyName}}</mat-card-title>
                    <mat-card-subtitle style="font-family: Calibri;color: grey;font-weight: bold;text-align: right">{{s.computer.Type}}</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image src={{s.computer.ComputerImg}} alt="Photo of the computer">
                <mat-card-content>
                    <p style="font-family: Calibri;color: grey;text-align: right;">
                        This device has an {{s.computer.Prossess}} processor and the screen resolution is {{s.computer.ScreenSize}} amount of memory. This device has {{s.computer.Memory}} and the hard disk is {{s.computer.HardDisk}}. As well as the software that is on the computer
                        there are also :
                        <br>
                        <!-- <p>מחיר ליום:{{s.PriceDay}}</p>
                        <p>מחיר ליום:{{s.PriceHour}}</p> -->
                        <label *ngFor="let p of s.computer.Programslist ; let i = index">
                        {{p.ProgramName}}
                        <span *ngIf="i<s.computer.Programslist.length-1">,</span>
                        </label> programs.


                    </p>
                    <button (click)="s.date=!s.date" mat-button style="font-family: Calibri;color: grey;font-weight: bold;text-align: right">בחירת תאריך</button>
                    <p *ngIf="s.date">
                        <mat-calendar [dateClass]="dateClass(s.computer)" (selectedChange)="getDay($event)" (click)="create(s.computer)"></mat-calendar>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
                <mat-card-footer></mat-card-footer>
            </mat-card>
            <br> <br> <br> <br>
        </div>

    </mat-drawer-container>
</div>