<router-outlet></router-outlet>
<br><br>
<div class="container" style="text-align: right;">
    <a class="btn btn-info btn-block" style="background-color: #333333;color:whitesmoke;border-color:  #FF6600;height:1.1cm;" type="button" routerLink="/bourer">השאלה</a><br>
    <a class="btn btn-info btn-block" style="background-color: #FF6600;color:whitesmoke;border-color: #333333;height:1.1cm;" type="button" routerLink="/return">החזרה</a>
    <br><br>
</div>

<!-- 
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary btn-lg">Large button</button> -->