<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<div *ngIf="connected">
    <app-header>
    </app-header>
    <!-- <h2 app.component.html "easyJet Logo" width="103" height="25" title="" style=""></h2> -->
</div>

<div *ngIf="!connected">
    <!-- קומפוננטה חדשה -->
    <app-header-hide></app-header-hide>
    <!-- <h2 app.component.html "easyJet Logo" width="103" height="25" title="" style=""></h2> -->
</div>
<!-- <header>ברוכים הבאים לאתר השכרת מחשבים</header>
    <br><br><br><br><br><br><br><br><br><br><br><br> -->
<div class="logoDiv">
    <div class="titleImgDiv">
        <h3>EASYRENT</h3>
    </div>
    <div class="logoImgDiv">
        <img [src]="'../assets/pic/לוגוסופי.png'" />
    </div>
</div>

<!-- <app-home></app-home> -->
<div class="main">
    <!-- <div class="menu">
        <app-menu></app-menu>
    </div> -->
    <!-- <img class="d-block w-50" width="5000" height="500" src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Third slide"> -->



    <router-outlet></router-outlet>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
<!-- <signature-pad [config]="{penColor:red}" #sP></signature-pad><button (click)="sp.clear()">CLEAR</button>  -->

<!-- <signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad> -->

<!-- Circular Progress Bar -->
<!-- <mgx-circular-progress-bar percentage="100"></mgx-circular-progress-bar> -->
<!-- Full Bar -->
<!-- <mgx-circular-progress-full-bar percentage="50"></mgx-circular-progress-full-bar> -->
<!-- Pie Style Progress Bar -->
<!-- <mgx-circular-progress-pie percentage="30"></mgx-circular-progress-pie> -->
<!-- service.success('Example body content'); -->
<!-- <mat-form-field class="example-full-width">
    <input mat-timepicker matInput type="time" placeholder="Click to get the time" value="10:55 AM">
</mat-form-field> -->
<!-- <link href="better-time-picker.css" rel="stylesheet" type="text/css" media="all"> angular.module('someApp', ['betterTimePicker']); -->
<!-- <button helipopper="Tooltip Content Here">
    I have a tooltip
  </button> -->
<!-- <ng-template #tpl>
    <div *ngFor="let msg of messages">{{ msg }}</div>
    <button (click)="talk()">Click Me</button>
</ng-template> -->
<!-- <ng-payment-card></ng-payment-card> -->
<!-- <button (click)="showSuccess()">hhhhhhhhhhhhhhhhh</button> -->