.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.example-button-row {
    display: table-cell;
    background-color: grey;
    font-family: cursive;
    font-style: unset;
    color: black;
    text-align: center;
}

.title {
    font-family: cursive;
    color: black;
}

.mat-sort-header-container {
    align-items: center;
}

th.mat-sort-header-sorted {
    color: black;
}

.myButton {
    box-shadow: 6px 10px 40px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 9px;
    border: 4px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 4px;
    text-decoration: none;
    text-shadow: -1px 1px 14px #3d768a;
}

.myButton:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#borderDemo {
    border: 5px dashed salmon;
    border-radius: 35px;
}

.size {
    background-size: 250;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Modal Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.make-gold {
    background-color: #f0f5f5
}


/* Change styles for cancel button and delete button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}


/* ??????? */

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

table {
    width: 100%;
}

.cell1 {
    text-align: right;
}

.mat-cell {
    text-align: right;
}

.mat-header-cell {
    text-align: center;
}