<router-outlet></router-outlet>
<br><br>
<p style="font-weight: bold; text-align: center;color:#FF6600;font-size:large;"> ברוכים הבאים לeasyRent- צד מנהל </p>
<p style="font-weight: bold;text-align: center;color: grey;font-size:medium;">מנהל יקר בחלק הזה תוכל לנהל ולבצע שינוים למען יעילות ונוחות האתר ולעדכן את מאגר הנתונים </p>
<p style="font-weight: bold;text-align: center;color: grey;font-size: small;">בסרגל המוצג לעיל תוכל לבצע פעולות שונות </p>

<div style="font-family: Calibri;font-weight: bold;color: grey;font-weight: bold;text-align: right;">
    <a mat-button routerLinkActive="mat-raised-button" routerLink="/complain"> צפייה בתלונות</a>
    <a mat-button routerLinkActive="mat-raised-button" routerLink="/MainRule">צפייה בסקרים</a>
</div>
<br>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle style="background-color: rgb(232, 232, 235);">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold;color: #FF6600;">
                מחשב
            </mat-panel-title>
            <mat-panel-description style="font-weight: bold;">
                שנה מידע על המחשב
                <mat-icon>computer</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button href="#addSoftwerModal" data-toggle="modal" mat-raised-button (click)="create()" style="background-color: #FF6600;color: white"><i class="material-icons">&#xE147;</i> <span>הוספת מחשב</span></button>
        <div class="mat-elevation-z8" style="background-color: rgb(232, 232, 235);">
            <mat-form-field>
                <mat-label style="font-family: Calibri; color:#FF6600;">סינון</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input matSort>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

                <!-- Position Column -->
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-family: Calibri;font-weight: bold;"> קוד מחשב </th>
                    <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="CompanyName">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> שם חברה </th>

                    <td mat-cell *matCellDef="let element"> {{element.CompanyName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> סוג </th>

                    <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Prossess">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> מעבד </th>

                    <td mat-cell *matCellDef="let element"> {{element.Prossess}} </td>
                </ng-container>

                <ng-container matColumnDef="Memory">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> זיכרון </th>

                    <td mat-cell *matCellDef="let element"> {{element.Memory}} </td>
                </ng-container>

                <ng-container matColumnDef="HardDisk">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> דיסק קשיח </th>

                    <td mat-cell *matCellDef="let element"> {{element.HardDisk}} </td>
                </ng-container>
                <ng-container matColumnDef="ScreenSize">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> גודל מסך </th>

                    <td mat-cell *matCellDef="let element"> {{element.ScreenSize}} </td>
                </ng-container>

                <ng-container matColumnDef="UpdateItem">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> עדכון מחשב </th>
                    <td mat-cell *matCellDef="let element"> <button mat-button (click)="OnEdit(element.Id) " [disabled]="element.isRented" style="color: #FF6600;">edit<mat-icon >launch</mat-icon></button></td>
                </ng-container>

                <ng-container matColumnDef="RemoveItem">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> מחיקת מחשב </th>

                    <td mat-cell *matCellDef="let element"> <button mat-button (click)="OnDelete(element.Id)"><mat-icon>delete</mat-icon></button></td>
                </ng-container>
                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row [ngClass]="{'make-gold': row.isRented }" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">הבא</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle style="background-color: rgb(232, 232, 235);">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold;color: #FF6600;">
                תוכנות
            </mat-panel-title>
            <mat-panel-description style="font-weight: bold;">
                שנה מידע על התוכנות
                <mat-icon>library_add
                </mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button href="#addSoftwerModal" data-toggle="modal" mat-raised-button (click)="creatSoftwer()" style="background-color: #FF6600;color: white"><i class="material-icons">&#xE147;</i> <span>הוספת מחשב</span></button>
        <div class="mat-elevation-z8">
            <mat-form-field>
                <mat-label style="font-family: Calibri; color:#FF6600;">סינון</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input matSort>
            </mat-form-field>
            <table *ngIf="this.ProgramList" mat-table [dataSource]="dataSource1" matSort multiTemplateDataRows>
                <!-- SoftwareId -->
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-family: Calibri;font-weight: bold;"> קוד תוכנה </th>
                    <td mat-cell *matCellDef="let element"> {{element.IdProgram}} </td>
                </ng-container>
                <!-- ProgramName -->
                <ng-container matColumnDef="ProgramName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-family: Calibri;font-weight: bold;"> שם תוכנה </th>
                    <td mat-cell *matCellDef="let element"> {{element.ProgramName}} </td>
                </ng-container>
                <!-- VertionName -->
                <ng-container matColumnDef="ImgProgram">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-family: Calibri;font-weight: bold;"> תמונה </th>
                    <td mat-cell *matCellDef="let element"><img width="50" height="50" src={{element.ImgProgram}} alt="Third slide"> </td>
                </ng-container>
                <!-- Edit -->
                <ng-container matColumnDef="EditProgram">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> עדכון תוכנה </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="OnEditProgram(element)" style="color: #FF6600;">edit<mat-icon >launch</mat-icon></button></td>
                </ng-container>
                <!-- Delet -->
                <ng-container matColumnDef="DeletProgram">
                    <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> מחיקת תוכנה </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="OnDeleteProgram(element.IdProgram)"><mat-icon>delete</mat-icon></button></td>
                </ng-container>

                <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row [ngClass]="{'make-gold': row.datePass }" *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">הקודם</button>
                <button mat-button color="primary" (click)="nextStep()">הבא</button>
            </mat-action-row>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle style="background-color: rgb(232, 232, 235);">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold;color: #FF6600;">
                חברה
            </mat-panel-title>
            <mat-panel-description style="font-weight: bold;">
                שנה מידע על החברה
                <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <button href="#addSoftwerModal" data-toggle="modal" mat-raised-button (click)="createCompany()" style="background-color: #FF6600;color: white"><i class="material-icons">&#xE147;</i> <span>הוספת חברה</span></button>
        <mat-form-field>
            <mat-label style="font-family: Calibri; color:#FF6600;">סינון</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input matSort>
        </mat-form-field>
        <table *ngIf="this.CompanyList" mat-table [dataSource]="dataSource2" matSort multiTemplateDataRows>
            <!-- SoftwareId -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> קוד חברה </th>
                <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
            </ng-container>
            <!-- ProgramName -->
            <ng-container matColumnDef="CompanyName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-family: Calibri;font-weight: bold;"> שם חברה </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>
            <!-- Img -->
            <ng-container matColumnDef="Img">
                <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> תמונה </th>
                <td mat-cell *matCellDef="let element"> {{element.img}} </td>
            </ng-container>
            <!-- Edit -->
            <ng-container matColumnDef="EditCompany">
                <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> עדכון חברה </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="OnEditComapny(element)" style="color: #FF6600;">edit<mat-icon >launch</mat-icon></button></td>
            </ng-container>
            <!-- Delet -->
            <ng-container matColumnDef="DeletCompany">
                <th mat-header-cell *matHeaderCellDef style="font-family: Calibri;font-weight: bold;"> מחיקת חברה </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="OnDeleteCompany(element.Id)"><mat-icon>delete</mat-icon></button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row [ngClass]="{'make-gold': row.datePass }" *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">הקודם</button>
            <button mat-button color="primary" (click)="nextStep()">הבא</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle style="background-color: rgb(232, 232, 235);">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold;color: #FF6600;">
                שעות פתיחה
            </mat-panel-title>
            <mat-panel-description style="font-weight: bold;">
                שנה מידע על שעות הפתיחה
                <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-label>שעת פתיחה</mat-label>
        <input type="time" id="default-picker" class="form-control" placeholder="שעת פתיחה">
        <mat-label>שעת סגירה</mat-label>
        <input type="time" id="default-picker" class="form-control" placeholder="שעת סגירה">

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">הקודם</button>
            <button mat-button color="primary" (click)="nextStep()">סוף</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<br><br>