.myButton {
    box-shadow: inset 0px 1px 3px 0px rgb(34, 115, 182);
    background: linear-gradient(to bottom, rgb(34, 115, 182) 5%, rgb(34, 115, 182) 100%);
    background-color: rgb(34, 115, 182);
    border-radius: 5px;
    border: 1px solid rgb(34, 115, 182);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgb(34, 115, 182);
}

.myButton:hover {
    background: linear-gradient(to bottom, rgb(34, 115, 182) 5%, rgb(34, 115, 182) 100%);
    background-color: rgb(34, 115, 182);
}

.myButton:active {
    position: relative;
    top: 1px;
}

.w-5\/12 {
    width: 41.666667%;
    margin: auto;
    margin-top: 0px;
    height: 100%;
}

.h-screen {
    height: auto;
}