<div style="background-color: #c7c7c77d;">
    <br><br>
    <div class="modal-header">
        <h1 style=" color: white;"> יצירת הזמנה חדשה </h1>
    </div>
    <form style="text-align: center;" [formGroup]="range" *ngIf="range">



        <mat-form-field color="accent">
            <label> בחר תאריך התחלה</label>
            <input formControlName="startDate" matInput (blur)="checkStartDate(st)" #st [matDatepicker]="fromDate" name="startD">
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent">
            <label> בחר תאריך סיום</label>
            <input formControlName="endDate" #eh matInput (blur)="checkEndDate(eh)" [matDatepicker]="toDate" name="endD">
            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
        </mat-form-field>
        <br><br>
        <!-- Grid row -->
        <div>
            <label for="default-picker">בחר שעת התחלה</label>
            <div *ngIf="startHours">
                <mat-select [(ngModel)]="sh" name="startH" (selectionChange)="checkstartHour($event)">
                    <mat-option *ngFor="let s of startHours" [value]="s.numHour">
                        {{s.formatHour}}
                    </mat-option>
                </mat-select>
                <!-- <select (change)="checkstartHour()" [(ngModel)]="sh" [disabled]="!endDate || !startDate">
                <option *ngFor="let i of startHours" [value]="i.numHour">{{i.formatHour}}</option>
            </select> -->
            </div>
        </div>
        <br><br>
        <!-- Grid row -->
        <div *ngIf="endHours" style="size: 50%;">
            <label for="default-picker">בחר שעת סיום</label>
            <!-- <input type="time" id="default-picker" class="form-control" name="endH" [disabled]="!endDate" [(ngModel)]="endtime" placeholder="בחר שעת סיום"> -->
            <!-- <button [disabled]="!endDate || !startDate" *ngFor="let i of endHours" (click)="checkendtHour(i.numHour)">{{i.formatHour}}</button> -->
            <mat-select [(ngModel)]="eh1" #endHu="ngModel" name="endHou" [ngModelOptions]="{standalone: true}" (selectionChange)="checkendtHour($event)">
                <mat-option *ngFor="let s of endHours" [value]="s.numHour">
                    {{s.formatHour}}
                </mat-option>
            </mat-select>
        </div>
        <div>
            <label> בחר סניף איסוף:</label>
            <mat-select>
                <mat-option *ngFor="let s of storeList" [value]="s.Locition" [ngModel]="s.Locition">
                    {{s.Locition}}
                </mat-option>
            </mat-select>
        </div>
    </form>
    <br><br>
    <div class="row" style="text-align: center; ">
        <button mat-flat-button (click)="onCloase()" aria-label="Clear"> <i class=""></i>    ביטול</button>
        <button mat-flat-button (click)="CheckDate1()" aria-label="Clear"><i class="	fa fa-pencil-square-o"></i> יצרת הזמנה</button>
    </div>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="showErrMsg">
    <strong> שגיאה: </strong>{{errMsg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showErrMsg=!showErrMsg"> 
      <span aria-hidden="true">&times;</span>
    </button>
</div>