<router-outlet></router-outlet>

<!-- <p>trying works!</p>
<app-hello name="{{ name }}"></app-hello>
<p>
    Include <br>
    <input type="text" placeholder="search..." [(ngModel)]="searchValue">
</p>

<div *ngFor="let skill of skills | try :'name' : searchValue">
    {{skill.name}}
</div>


<p>
    Equal <br>
    <input type="text" placeholder="search..." [(ngModel)]="searchValue02">
</p>

<div *ngFor="let skill of skills | try :'name' : searchValue02 : 'equal'">
    {{skill.name}}
</div>



<p>
    not-equal <br>
    <input type="text" placeholder="search..." [(ngModel)]="searchValue03">
</p>

<div *ngFor="let skill of skills | try :'name' : searchValue03 : 'not-equal'">
    {{skill.name}}
</div> -->