<!-- <p>exsisting-customer-details works!</p>
<table class="example-full-width" cellspacing="0">
    <tr>
        <td>
            <mat-form-field class="example-full-width">
                <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="0">
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
<!-- </mat-form-field>
        </td>
    </tr>
</table>
<td class="btn btn-primary mr-1" routerLinkActive="mat-raised-button" *ngIf="customers" (click)="goTo('/viewComp')">History</td>

<table>
    <tr>
        <td>IdOrder</td>
        <td>IdCustomer</td>
        <td>DateAndTimeReturn</td>
    </tr>
    <tr *ngFor="let s of orderList">
        <td>{{s.Id}}</td>
        <td>{{s.IdCustomer}}</td>
        <td>{{s.FromDate}}</td>
    </tr>
</table>
<a class="btn btn-primary mr-1" routerLinkActive="mat-raised-button" routerLink="/viewComp">New Orders</a> -->

<!-- <a routerLink="" routerLinkAcitv="active" mat-icon-routerLink color="accent" aria-label="Example icon button with a home icon" class="size"> -->
<!-- (click)="HistoryUser(customers.Id)" -->

<br><br>
<router-outlet></router-outlet>
<div *ngIf="this.ComputerListWithDate.length<1"> עדיין לא קיימות הזמנות</div>
<div *ngIf="this.ComputerListWithDate.length>0" class="">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

        <!-- Position Column -->
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> קוד מחשב </th>
            <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="FromDate">
            <th mat-header-cell *matHeaderCellDef> מתאריך </th>
            <td mat-cell *matCellDef="let element"> {{element.dateF | date: 'dd/MM/yyyy hh:mm'}} </td>
        </ng-container>
        <ng-container matColumnDef="EndDate">
            <th mat-header-cell *matHeaderCellDef> עד תאריך </th>
            <td mat-cell *matCellDef="let element" (click)="changeDate(element.orderID)"> {{element.dateE | date: 'dd/MM/yyyy hh:mm'}} </td>
        </ng-container>
        <ng-container matColumnDef="CompanyName">
            <th mat-header-cell *matHeaderCellDef> שם חברה </th>
            <td mat-cell *matCellDef="let element"> {{element.CompanyName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> סוג </th>
            <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Prossess">
            <th mat-header-cell *matHeaderCellDef> מעבד </th>
            <td mat-cell *matCellDef="let element"> {{element.Prossess}} </td>
        </ng-container>

        <ng-container matColumnDef="Memory">
            <th mat-header-cell *matHeaderCellDef> זיכרון </th>
            <td mat-cell *matCellDef="let element"> {{element.Memory}} </td>
        </ng-container>

        <ng-container matColumnDef="HardDisk">
            <th mat-header-cell *matHeaderCellDef> דיסק קשיח </th>
            <td mat-cell *matCellDef="let element"> {{element.HardDisk}} </td>
        </ng-container>
        <ng-container matColumnDef="ScreenSize">
            <th mat-header-cell *matHeaderCellDef> גודל מסך </th>
            <td mat-cell *matCellDef="let element"> {{element.ScreenSize}} </td>
        </ng-container>

        <ng-container matColumnDef="Programslist">
            <th mat-header-cell *matHeaderCellDef> רשימת תוכנות </th>
            <!-- 
            <td mat-cell *matCellDef="let element"> {{element.Programslist}} </td> -->
            <td mat-cell *matCellDef="let element">
                {{element.ProgramName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="RemoveItem">
            <th mat-header-cell *matHeaderCellDef> מחיקה </th>
            <td mat-cell *matCellDef="let element"> <button mat-button (click)="removeItem(element.orderID)"><mat-icon>delete</mat-icon></button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [ngClass]="{'make-gold': row.datePass }" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" #showFirstLastButtons></mat-paginator>
</div>
<br><br>
<div *ngIf="IschangDate">
    <input type="date" [ngModel]="changeDateFormat | date:'yyyy-MM-dd'" (ngModelChange)="this.changeDateFormat = $event">
    <button (click)="okChangeDate()">OK</button>
    <button (click)="cancleChangeDate()">Cancle</button>
</div>
<!-- <button class="btn btn-primary mr-1" routerLinkActive="mat-raised-button">To order</button> -->