<div>
    <br><br><br><br><br>

    <div class="footer">

        <div>
            <a class="contact" href="tel:*2531">easyRent </a>
            <label class="contactColor" href="tel:*2531">|</label>
            <a class="contact" href="tel:*2531"> online computerRent </a>
            <label class="contactColor" href="tel:*2531">|</label>
            <a class="contact" href="tel:*2531"> *2531</a>
        </div>
        <br>
        <!-- <div class="logo-img"> -->
        <!-- <img class="in-logo-img" src="../../../assets/pic/easyrent111.png" /> -->
        <!-- </div> -->
        <!-- <div class="info">אצלינו במסעדה מחכה לכם מסעדת בשרים כשרה, עם חוויה רב חושית של טעמים, ניחוחות וצבעים ססגוני -->
    </div>