<router-outlet></router-outlet>
<html lang="he">
<!-- <div class="wrapper">
    <div class="link_wrapper">
        <a routerLink="/viewComp">רשימת המחשבים</a>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
              <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
            </svg>
        </div>
    </div> -->

<!-- </div> -->
<br><br><br><br>

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center" style="background-color:  #fbf4f1;">

    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="logo-small	fa fa-envelope"></span>
            <h4 routerLink="/contact">צור קשר </h4>
        </div>
        <div class="col-sm-4">
            <span class="	fa fa-commenting-o logo-small"></span>
            <h4 routerLink="/question">תגובות </h4>
        </div>
        <div class="col-sm-4">
            <span class="	fa fa-user-circle-o logo-small"></span>
            <h4 routerLink="/existingCustomerDetails">אזור האישי </h4>
        </div>
    </div>
    <br><br>
</div>
<!-- 
<a target="_blank" href="img_forest.jpg">
    <img src="../../assets/pic/חדשנות.jpg" alt="Forest">
</a>
<a target="_blank" href="img_forest.jpg">
    <img src="../../assets/pic/שירות.jpg" alt="Forest">
</a>
<a target="_blank" href="img_forest.jpg">
    <img src="../../../assets/pic/איכות.jpg" alt="Forest">
</a>
<a target="_blank" href="img_forest.jpg">
    <img src="../../assets/pic/זמינות.jpg" alt="Forest">
</a>
<a target="_blank" href="img_forest.jpg">
    <img src="../../assets/pic/אמינות.jpg" alt="Forest">
</a> -->

<!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'"> -->
<!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="../../assets/pic/שירות.jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">בגלל השירות!!</h3>
            <p>נייטנט מקפידה להעמיד לרשותך צוות שירות מקצועי ואדיב שיהא קשוב לצרכיך מרגע פנייתך ועד סיום הפרוייקט לשמו השכרת את שירותי החברה. אנו נתאים עבורך את הטכנולוגיה הנדרשת למטרתך , נתקין עבורך את התוכנות להן אתה זקוק, ונספק את הציוד תוך 24 עד פתח
                ביתך. גם את טכנולוגיה אינה הצד החזק שלך, אנו נהא הגב המקצועי לו אתה זקוק על מנת להעביר את האירוע לשמו השכרת את המחשבים על הצד הטוב ביותר.</p>
        </div>
    </mdb-carousel-item> -->
<!-- <mdb-carousel-item> -->
<!-- <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/pic/איכות.jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive"> בגלל האיכות!!</h3>
            <p>Secondary text</p>
        </div>
    </mdb-carousel-item> -->
<!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="../../assets/pic/זמינות.jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive"> בגלל הזמינות!!</h3>
            <p>Third text</p>
        </div>
    </mdb-carousel-item> -->
<!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="../../assets/pic/אמינות.jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive"> בגלל האמינות!!</h3>
            <p>המחשבים הניידים שלנו הם מהחדשים והחזקים בשוק המחשבים, יש ביכולתם לענות על כל דרישה טכנית ולספק את צרכיו הטכנולוגים של האירוע שלכם מא’ ועד ת’. אנו מקפידים להעביר את המחשבים בדיקות תקינות שגרתיות ע”י טכנאים מוסמכים ולהתקין על גבם את מערכות ההפעלה
                והתכנות החדישות ביותר באופן חוקי וברשיון מלא.</p>
        </div>
    </mdb-carousel-item> -->
<!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="../../assets/pic/חדשנות.jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive"> בגלל החדשנות!!</h3>
            <p>הטכנולוגיות בעולם המחשבים משתדרגות לעיתים קרובות והופכות ציוד רב שנרכש לפני זמן קצר למיושן ואיטי. השכרת מחשבים בנייטנט מסירה את הסיכון שבהתחייבויות ארוכות טווח לטכנולוגיות מיושנות.</p>
        </div>
    </mdb-carousel-item> -->
<!-- </mdb-carousel> -->
<!-- Container (Portfolio Section) -->
<!-- <div id="portfolio" class="container-fluid text-center bg-grey">
    <h2 style="color: #FF6600;">למה דווקא אנחנו??</h2><br>
    <div class="d-flex justify-content-center bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <div class="card1">
                <div class="thumbnail">
                    <img src="../../assets/pic/שירות.jpg" alt="Paris">
                    <h2><strong>בגלל השירות!! </strong></h2>

                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="card1">
                <div class="thumbnail">
                    <img src="../../../assets/pic/איכות.jpg" alt="San Francisco">
                    <h2><strong>בגלל האיכות!!</strong></h2>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="card1">
                <div class="thumbnail">
                    <img src="../../assets/pic/זמינות.jpg" alt="San Francisco">
                    <h2><strong>בגלל הזמינות!!</strong></h2>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="card1">
                <div class="thumbnail">
                    <img src="../../assets/pic/אמינות.jpg" alt="San Francisco">
                    <h2><strong>בגלל האמינות!!</strong></h2>
                </div>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="card1">
                <div class="thumbnail">
                    <img src="../../assets/pic/חדשנות.jpg" alt="San Francisco">
                    <h2><strong>בגלל החדשנות!!</strong></h2>
                </div>
            </div>
        </div>
    </div> -->
<!-- <div class="row text-center">
        <div class="col-sm-4">
     

        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="../../assets/איכות.jpg" alt="New York">
                <h2><strong>בגלל האיכות!!</strong></h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="../../assets/pic/זמינות.jpg" alt="San Francisco">
                <h2><strong>בגלל הזמינות!!</strong></h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="../../assets/pic/אמינות.jpg" alt="San Francisco">
                <h2><strong>בגלל האמינות!!</strong></h2>
            </div>
        </div>
    </div> -->
<br><br><br>

<h2 style="color: #FF6600;text-align: center;">מה באמת חושבים עלינו??</h2>
<div id="myCarousel" class="carousel 
     text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <i class="	fa fa-comments-o" style="font-size:48px;color:#FF6600"></i>

            <h4>מאז שהכרתי את האתר הנסיעות שלי יותר מנוצלות!!!"<br><span>חדוה מזוז</span></h4>
        </div>
        <div class="item">
            <i class="	fa fa-comments-o" style="font-size:48px;color:#FF6600"></i>
            <h4>"האתר נוח ופשוט מאוד לשימוש! ממליצה בחום! "<br><span>מיכל, חיפה </span></h4>
        </div>
        <div class="item">
            <i class="	fa fa-comments-o" style="font-size:48px;color:#FF6600"></i>

            <h4>"השירות של החברה פשוט מצוין! המחשבים חדישים ואיכותיים ברמות!!!"<br><span>אבי , רכסים</span></h4>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-sm-8" style="text-align: center;">
            <h2 style="color: #FF6600;">קצת עלינו</h2><br>
            <h3>השכרת מחשבים מהווה פתרון אידאלי לצרכים מיוחדים, פרוייקטים זמניים, אירועים, כנסים, כיתות לימוד, משרדים, ביקורות, סמינרים ואפילו עבור מפתחי תוכנה בעלי צרכים טכנולוגים גבוהים.
            </h3>
            <h3>אנו ב-easyRent מציעים שירותי השכרת מחשבים ניידים לכל מטרה,</h3>
            <h3>בכל כמות ולכל תקופה – לפי צרכייך המדוייקים! פנה אלינו ונתאים יחד את הפתרון האידאלי עבורך</h3>
            <h3>חברות רבות מעדיפות להתייחס למחשבים המשרתים אותן בפרוייקטים זמניים או ארוכי טווח ככלי ולא כנכס. בהשכרת מחשבים הן חוסכות בתזרים מזומנים, בשירותי תחזוקה, בצורך להתמודד עם כשלים ושדרוגים טכנולוגים , וכמובן בהשקעות הכרוכות בשדרוג הציוד, מערכות
                ההפעלה והתכנות המופעלות בו. easyRent מספקת שירותי השכרת מחשבים לכל צורך, ומעמידה לרשות המשכירים שירותי תמיכה מקצועיים ומהירים המאפשרים הפעלה נוחה ואיכותית.</h3>
            <h1 style="color: #FF6600;">עשרות מחשבים מחכים רק לך , אז למה אתה מחכה???</h1>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>



<!-- </body> -->

</html>