<router-outlet></router-outlet>

<form class="table">
    <table class="table">
        <tr>
            <th>תאור </th>
            <th>מחיר </th>
            <th>הוספה </th>
        </tr>
        <tr *ngFor="let s of rule">
            <td>{{s.Description}}</td>
            <td>{{s.Price}}</td>
            <td>
                <mat-checkbox name="cheackbox" required (change)="click(s.Price)"></mat-checkbox>
            </td>
            <td>
        </tr>
    </table>
    <div class="form-row">
        <br>
        <div class="form-group col">
            <!-- <button type="submit" class="btn btn-info btn-block" style="background-color: #FF6600;border-color: #333333;height:1.1cm;" ">לאישור</button> <br><br> -->
            <button (click)="showSum()" class="btn btn-primary mr-1" style="background-color: #FF6600;border-color: #333333;height:1cm;"> חשב
        </button>
        </div>
    </div>
</form>