<p>main-rule works!</p>
<router-outlet></router-outlet>
<div class="form-group col">
    <!-- <button type="submit" class="btn btn-info btn-block" style="background-color: #FF6600;border-color: #333333;height:1.1cm;" ">לאישור</button> <br><br> -->
    <button class="btn btn-primary mr-1" routerLink="/report/1" style="background-color: #FF6600;border-color: #333333;height:1cm;"> דוח 1
</button>
    <!-- <a href="#" (click)="check1()" type="submit" mdbBtn class="myButton">התחבר</a> -->
</div>
<div class="form-group col">
    <!-- <button type="submit" class="btn btn-info btn-block" style="background-color: #FF6600;border-color: #333333;height:1.1cm;" ">לאישור</button> <br><br> -->
    <button class="btn btn-primary mr-1" routerLink="/report/2" style="background-color: #FF6600;border-color: #333333;height:1cm;"> דוח 2 
</button>
    <!-- <a href="#" (click)="check1()" type="submit" mdbBtn class="myButton">התחבר</a> -->
</div>